$white: #fff;
$darkblue: #033043;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("https://raw.githubusercontent.com/rdslv94/Gradie/main/Assets/Background.png");
  background-color: $white;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

.main-wrapper {
  display: grid;
  grid-template-columns: 21em 21em;
  grid-auto-rows: min-content;
}
.left-wrapper {
  text-align: center;
  background-color: $darkblue;
  border-radius: 0.8em 0 0 0.8em;
  background: $darkblue
    url("https://github.com/rdslv94/Gradie/blob/main/Assets/Iphone.png?raw=true")
    no-repeat bottom;
  background-size: contain;
  background-position: bottom;
  border: 0.07em solid rgba(128, 128, 128, 0.5);
  border-right: none;
  h1 {
    margin: 2rem 0 0.5rem 0;
    color: $white;
    user-select: none;
  }
  p {
    color: rgba(255, 255, 255, 0.5);
    user-select: none;
  }
  .img-wrapper {
    display: flex;
  }
  img {
    width: 100%;
    height: 100%;
  }
}
.right-wrapper {
  background-color: $white;
  border-radius: 0 0.8em 0.8em 0;
  padding: 0 2em 0 3em;
  margin: 0 0 0 0;
  border: 0.07em solid rgba(128, 128, 128, 0.5);
  border-left: none;

  h2 {
    margin: 1em 0 0.8em 0;
    font-size: 2em;
  }
  input {
    border: 0.1em solid rgba(173, 173, 173, 0.863);
    border-radius: 0.5em;
  }
  input:hover {
    background-color: #03304325;
  }
  .login {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    #email {
      margin: 0.4em 0 1.2em 0;
      padding: 1.2em;
    }
  }
  .password {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    #password {
      margin: 0.4em 0 1.5em 0;
      padding: 1.2em;
    }
  }
  .terms {
    display: flex;
    input {
      margin: 0 0.4em 0 0;
    }
    a {
      color: $darkblue;
      font-weight: bold;
    }
  }
  .submit {
    width: 100%;
    height: 4em;
    margin: 2em 0 4em 0;
    color: $white;
    background-color: $darkblue;
    border-radius: 0.5em;
    letter-spacing: 0.1em;
    font-weight: bold;
    border: none;
    transition: all ease 0.2s;
  }
  .submit:hover {
    color: $darkblue;
    background-color: $white;
    border: 0.1em solid $darkblue;
  }
}

@media (max-width: 768px) {
  .main-wrapper {
    display: grid;
    grid-template-columns: 30em;
    grid-template-rows: 5em 30em 30em 5em;
  }
  .left-wrapper {
    border-radius: 0.8em 0.8em 0 0;
    grid-row: 2/3;
  }
  .right-wrapper {
    border-radius: 0 0 0.8em 0.8em;
    grid-row: 3/4;
  }
}

@media (max-width: 500px) {
  body {
    background-image: none;
    display: block;
  }
  .main-wrapper {
    display: flex;
    flex-direction: column;
  }
  .left-wrapper {
    height: 30em;
    border: none;
    border-radius: 0;
  }
  .right-wrapper {
    height: 30em;
    border: none;
    border-radius: 0;
  }
}
